body {
  margin: 0;
  overflow: hidden;
}

body.app-initialized {
  cursor: none;
}

/* Resolution 1920x1080 */
video {
  max-width: 100%;
}

.video-inputs {
  margin-top: 32px;
  margin-bottom: 32px;
  max-height: 200px;
  transition: all .5s;
  text-align: center;
  width: 100%;
}

.video-inputs.collapsed {
  margin: 0;
  max-height: 0px;
  transition: all .5s;
}

select, button {
  font-size: 32px;
  line-height: 40px;
  display: inline-block;
}
